.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_container{
    margin-top: 2vh;
    border: 1px solid;
    border-radius: 4px;
    background: rgb(7,139,118);
    background: linear-gradient(90deg, rgba(7,139,118,1) 0%, rgba(8,81,134,1) 51%, rgba(0,143,172,1) 100%);

}